h3 {
    text-decoration: underline;
}

.container {
    background-color: antiquewhite;
}

.about-me {
    color: blue;
    border: 10px solid black;
    margin-top: 3px;
    margin-bottom: 9px;
}

.places-ive-been {
    border: 10px solid salmon;
    margin-top: 3px;
    margin-bottom: 9px;
}

.about-me p {
    background-color: aqua;
}

li {
    font-size: 35px;
}

.photos-description {
    border: 10px solid green;
    width: 40vw;
    margin-top: 3px;
    margin-bottom: 9px;    
}